ressources/LocalisationRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://XXX.XXX/covoiturage/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LocalisationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="Id"/>
        <xs:element type="xs:byte" name="Rayon"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>